@import url(https://fonts.googleapis.com/css?family=Quattrocento+Sans:400,400italic,700|Josefin+Sans:700);

body {
  font-family: 'Quattrocento Sans', sans-serif;
  font-size: 16px;
  color: #222;
  max-width: 960px;
}

h1 {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 42px;
}

header h1 {
  display: none;
}

main {
  margin-top: 140px;
  margin-left: 350px;
}

nav {
  position: absolute;
  top: 50px;
  left: 0px;
}

nav li {
  display: block;
  padding: 20px;
}

nav li a {
  padding: 0px 20px;
}

nav li a img {
  max-width: 160px;
}

a {
  color: rgb(31, 176, 133);
  text-decoration: none;
}

a:visited {
  color: rgba(31, 176, 133, .5);
}

a:hover {
  color: rgba(31, 176, 133, .25);
}

p img {
  max-width: 30px;
  padding-right: 20px;
}

#contact-info{
  padding-top: 5px;
}

#contact-info p {
  padding-bottom: 5px;
}

#about-me-photo {
  float: left;
  padding-right: 40px;
}

.clear {
  clear: both;
}

.mobile-logo, .mobile-nav-toggle {
  display: none;
}

/* Mobile Styles */

@media (max-width: 768px) {
  body {
    margin: 0;
  }

  header {
    background: #fff;
    box-shadow: 0 5px 15px rgba(0,0,0,0.15);
    height: 45px;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 2;
  }

  main {
    margin: 80px auto;
    max-width: 80vw;
  }

  nav {
    box-shadow: 0 5px 15px rgba(0,0,0,0.25);
    background: #fff;
    height: 0;
    overflow: hidden;
    position: fixed;
    text-align: center;
    top: 45px;
    -webkit-transition: height 0.5s ease;
    transition: height 0.5s ease;
    width: 100vw;
    z-index: 1;
  }

  nav.expanded {
    height: calc(100vh - 45px);
    overflow: scroll;
  }

  nav ul {
    margin: 25px auto;
    padding: 0;
  }

  nav li {
    display: block;
    padding: 20px 0;
    width: 100%;
  }

  nav li a {
    padding: 0;
  }

  .mobile-logo {
    display: block;
    margin: 7.5px auto;
    width: 60px;
  }

  .mobile-nav-toggle {
    cursor: pointer;
    display: block;
    font-size: 20px;
    position: absolute;
    right: 15px;
    top: 12.5px;
  }

  .nav-logo {
    display: none;
  }
}
